# Wallet App - Docker environment example

# Perfil de Docker Compose:
# development = Windows / desarrollo
# production  = Ubuntu Server / producción
COMPOSE_PROFILES=development

# PostgreSQL
POSTGRES_DB=wallet_app
POSTGRES_USER=wallet_app
POSTGRES_PASSWORD=change_this_password

# Directorio persistente de PostgreSQL.
# Utiliza solamente una ruta según el entorno.

# Windows - desarrollo con Docker Desktop
POSTGRES_DATA_DIR=./.docker-data/postgres

# Ubuntu Server - producción
# POSTGRES_DATA_DIR=/srv/postgres/wallet-app

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@walletapp.dev
PGADMIN_DEFAULT_PASSWORD=change_this_password